
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/home.css">
    <title>Clase 06 - Flexbox ejemplo</title>
</head>
<body>
    <header>
        <div>
            <img src="/img/logo.png" alt="logo">
            <input type="search" name="" id="" placeholder="Ingrese su busqueda">
        </div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Computadoras</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Categorias descacadas</h2>
            <div class="categorias">
                <article>
                    <img src="/img/teclado.jpg" alt="">
                    <h4>Gaming</h4>
                </article>
                <article>
                    <img src="/img/video.jpg" alt="">
                    <h4>Video</h4>
                </article>
                <article>
                    <img src="/img/audio.jpg" alt="">
                    <h4>Audio</h4>
                </article>
            </div>
        </section>
        <section>
            <h2>Productos destacados</h2>
            <div class="productos">
                <article class="producto">
                    <img src="/img/mouse.jpeg" alt="">
                    <h4>Mouse gamer Logitech</h4>
                    <span>$20000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/monitor.webp" alt="">
                    <h4>Monitor gamer LG</h4>
                    <span>$180000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/pcgamer.jpg" alt="">
                    <h4>Pc gamer completa</h4>
                    <span>$800000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/auricular.jpg" alt="">
                    <h4>Auricular gamer</h4>
                    <span>$70000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/monitor.webp" alt="">
                    <h4>Monitor gamer LG</h4>
                    <span>$180000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/pcgamer.jpg" alt="">
                    <h4>Pc gamer completa</h4>
                    <span>$800000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/auricular.jpg" alt="">
                    <h4>Auricular gamer</h4>
                    <span>$70000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/auricular.jpg" alt="">
                    <h4>Auricular gamer</h4>
                    <span>$70000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/monitor.webp" alt="">
                    <h4>Monitor gamer LG</h4>
                    <span>$180000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/pcgamer.jpg" alt="">
                    <h4>Pc gamer completa</h4>
                    <span>$800000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/auricular.jpg" alt="">
                    <h4>Auricular gamer</h4>
                    <span>$70000</span>
                    <button>Ver mas</button>
                </article>
                <article class="producto">
                    <img src="/img/auricular.jpg" alt="">
                    <h4>Auricular gamer</h4>
                    <span>$70000</span>
                    <button>Ver mas</button>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <br>
        <section>
            <h3>Redes sociales</h3>
            <a href=""><i class='bx bxl-facebook-square'></i></a>
            <a href=""><i class='bx bxl-instagram' ></i></a>
            <a href=""><i class='bx bxl-twitter' ></i></a>
        </section>
        <p>Todos los derechos reservados aprende programando Desarrollo web 1 comision Jueves 18:00 hs</p>
    </footer>
</body>
</html>